@model  List<Courses.Models.Course>

@{
    ViewBag.Title = "Всички Специалности";
}

<h3>Всички Специалности</h3>

<h6 class="text-center mt-60">Страница @ViewBag.CurrentPage</h6>

@using (Html.BeginForm())
    {
<table class="table">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Форма на обучение
        </th>
        <th>
            Образователна степен
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormOfEducation.NameFormOfEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelOfEducation.NameLevelOfEducation)
            </td>
            <td>
                @Html.ActionLink("Детайли", "Details", "Home", new { @id = item.CourseID }, null)
            </td>
        </tr>
    }
</table>
    }

<p class="text-center mt-60 ">
    <a href="/Home/AllCourses?page=@(ViewBag.CurrentPage - 1)" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Предишна</a>
    <a href="/Home/AllCourses?page=@(ViewBag.CurrentPage + 1)" class="btn btn-primary @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Следваща</a>
</p>