@model Courses.Models.Other.ComparisonViewModel

@{
    ViewBag.Title = "Сравняване";
}

<h1>Сравняване</h1>

@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>Наименование:</th>
        <th><h3>@Model.Course1.Name</h3></th>
        <th><h3>@Model.Course2.Name</h3></th>
    </tr>
    <tr>
        <td>Форма на обучение:</td>
        <td>@Model.Course1.FormOfEducation.NameFormOfEducation</td>
        <td>@Model.Course2.FormOfEducation.NameFormOfEducation</td>
    </tr>
    <tr>
        <td>Образователна степен:</td>
        <td>@Model.Course1.LevelOfEducation.NameLevelOfEducation</td>
        <td>@Model.Course2.LevelOfEducation.NameLevelOfEducation</td>
    </tr>
    <tr>
        <td>Направление:</td>
        <td>@Model.Course1.Departments.NameDepartments</td>
        <td>@Model.Course2.Departments.NameDepartments</td>
    </tr>
    <tr>
        <td>Продължителност:</td>
        <td>@Model.Course1.Duration</td>
        <td>@Model.Course2.Duration</td>
    </tr>
    <tr>
        <td>Умения:</td>
        <td>@Model.Course1.OtherSkills</td>
        <td>@Model.Course2.OtherSkills</td>
    </tr>
    <tr>
        <td>Длъжности:</td>
        <td>@Model.Course1.OtherPosition</td>
        <td>@Model.Course2.OtherPosition</td>
    </tr>
    <tr>
        <td>Професионални области:</td>
        <td>@Model.Course1.OtherProfessionalField</td>
        <td>@Model.Course2.OtherProfessionalField</td>
    </tr>
    <tr>
        <td>Описание:</td>
        <td>@Model.Course1.Characterization</td>
        <td>@Model.Course2.Characterization</td>
    </tr>
</table>

}