@model  Courses.Models.Course

@{
    ViewBag.Title = "Детайли";
}

<h2>@Model.Name</h2>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#tab_1" data-toggle="tab">Кратка характеристика</a>
    </li>
    <li>
        <a href="#tab_2" data-toggle="tab">Реализация</a>
    </li>
    <li>
        <a href="#tab_3" data-toggle="tab">Подробности</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab_1">
        <p>@Html.DisplayFor(model => model.Characterization)</p>
    </div>
    <div class="tab-pane fade" id="tab_2">
        <table class="table">
            <tr>
                <th>
                    Умения
                </th>
                <th>
                    Длъжности
                </th>
                <th>
                    Професионални области
                </th>
            </tr>
            <tr>
                <td>
                    @Model.OtherSkills
                </td>
                <td>
                    @Model.OtherPosition
                </td>
                <td>
                    @Model.OtherProfessionalField
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="tab_3">
        <table class="table">
            <tr>
                <th>
                    Образователна степен
                </th>
                <th>
                    Форма на обучение
                </th>
                <th>
                    Продължителност
                </th>
            </tr>
            <tr>
                <td>
                    @Model.LevelOfEducation.NameLevelOfEducation
                </td>
                <td>
                    @Model.FormOfEducation.NameFormOfEducation
                </td>
                <td>
                    @Model.Duration
                </td>
            </tr>
        </table>
    </div>
</div>