@model  List<Courses.Models.Course>

@{
    ViewBag.Title = "Специалности";
}

<h6 class="text-center mt-60">Страница @ViewBag.CurrentPage</h6>

@if (Model.Count >= 1)
{
    <h2>Специалности:</h2>

    using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <th>
                   Наименование
                </th>
                <th>
                    Форма на обучение
                </th>
                <th>
                   Образователна степен
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormOfEducation.NameFormOfEducation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelOfEducation.NameLevelOfEducation)
                    </td>
                    <td>
                        @Html.ActionLink("Детайли", "Details", "Home", new { @id = item.CourseID }, null)
                    </td>
                </tr>
            }
        </table>
        <br />
    }

    var queryString = string.Empty;

    if (!string.IsNullOrEmpty(ViewBag.SearchString))
    {
        var currentSearchString = Request.QueryString["SearchString"];
        var currentSearchStringQuery = currentSearchString != null ? "SearchString=" + currentSearchString : string.Empty;

        queryString = "&" + currentSearchStringQuery;
    }
    else
    {
        var currentDepartment = Request.QueryString["Departments"];
        var currentSkill = Request.QueryString.GetValues("NewSkills");
        var currentPosition = Request.QueryString.GetValues("NewPositions");
        var currentProfField = Request.QueryString.GetValues("NewProfesionalFields");
        var currentDuration = Request.QueryString["Duration"];
        var currentBachelor = Request.QueryString["Bachelor"];
        var currentMaster = Request.QueryString["Master"];
        var currentDoctor = Request.QueryString["Doctor"];
        var currentRedovno = Request.QueryString["Redovno"];
        var currentZadochno = Request.QueryString["Zadochno"];

        var currentSkillQuery = string.Empty;
        var currentProfessionalFieldQuery = string.Empty;
        var currentPositionQuery = string.Empty;

        if (currentSkill != null && currentSkill.Length >= 1)
        {
            foreach (var skill in currentSkill)
            {
                currentSkillQuery += "NewSkills=" + skill + "&";
            }
        }

        if (currentProfField != null && currentProfField.Length >= 1)
        {
            foreach (var profField in currentProfField)
            {
                currentProfessionalFieldQuery += "NewProfesionalFields=" + profField + "&";
            }
        }

        if (currentPosition != null && currentPosition.Length >= 1)
        {
            foreach (var position in currentPosition)
            {
                currentPositionQuery += "NewPositions=" + position + "&";
            }
        }

        var currentDepartmentQuery = currentDepartment != null ? "Departments=" + currentDepartment : string.Empty;
        var currentDurationQuery = currentDuration != "0" ? "Duration=" + currentDuration : "Duration=" + "0";
        var currentBachelorQuery = currentBachelor == "false" ? "Bachelor=" + "false" : "Bachelor=" + "true";
        var currentMasterQuery = currentMaster == "false" ? "Master=" + "false" : "Master=" + "true";
        var currentDoctorQuery = currentDoctor == "false" ? "Doctor=" + "false" : "Doctor=" + "true";
        var currentRedovnoQuery = currentRedovno == "false" ? "Redovno=" + "false" : "Redovno=" + "true";
        var currentZadochnoQuery = currentZadochno == "false" ? "Zadochno=" + "false" : "Zadochno=" + "true";

        queryString = "&" + currentDepartmentQuery + "&" + currentProfessionalFieldQuery +
                        currentPositionQuery + currentSkillQuery + currentDurationQuery + "&" + currentBachelorQuery + "&" +
                        currentMasterQuery + "&" + currentDoctorQuery + "&" + currentRedovnoQuery + "&" + currentZadochnoQuery;
    }


    <p class="text-center mt-60 ">
        <a href="/Home/Result?page=@(ViewBag.CurrentPage - 1)@queryString" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)">Предишна</a>
        <a href="/Home/Result?page=@(ViewBag.CurrentPage + 1)@queryString" class="btn btn-primary @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Следваща</a>
    </p>
}
else
{
    <p>Няма намерени резултати.</p>
}
